# .envrc.example
# Local workspace install of git-cloak via direnv.
#
# Use this when you've cloned git-cloak into a workspace or tools directory
# and want it available only when direnv loads this directory.
#
# Steps:
#   1. Clone git-cloak into a sibling or tools directory, e.g.:
#      git clone https://github.com/jumpmind/git-cloak ~/Developer/tools/git-cloak
#
#   2. Copy this file to your workspace .envrc:
#      cp .envrc.example ~/Developer/myworkspace/.envrc
#
#   3. Edit the PATH_add line to point at your git-cloak bin/:
#      PATH_add ~/Developer/tools/git-cloak/bin
#
#   4. Allow it: direnv allow
#
# After that, 'git cloak' works anywhere in this workspace.

PATH_add /path/to/git-cloak/bin
